
{% extends "layout.html" %}
{% block body %}

<div class="center row">
      <div class="small-12 columns"><p><h4 style="display:inline">Users </h4><a href="{{ url_for('users.user_add')}}">Add new</a></p></div>
    </div>

      <!-- Main Page Content-->
 <div class="center row">
             <div class="small-12 columns">
            <table> <thead><tr><th>URL</th><th>Content</th><th>Tag</th></tr></thead>
             <tbody>
             {% for result in results %}
              <tr><td>{{ result['url'] }}</td><td>{{ result['content'] }}</td><td>{{ result['tag'] }}</td>
                 <td><a href="{{ url_for('users.user_update', id=result['id']) }}">Edit</a>        <a href="{{ url_for('users.user_delete', id=result['id']) }}">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>


 {% endblock %}
