 {% extends "layout.html" %}
{% block body %}

<div class="center row">
      <div class="small-12 columns"><p><h4 style="display:inline">Search </h4></p></div>
    </div>
   <!-- Search Box-->
    <div class="center row">
                <div class="large-8 columns">
              
                <form action="/users/results" method="POST" >
                         
                      <small>required</small><input type="text" name="search"  required/>              
                    
                   
                     <button class="small button"  type="submit">Search</button>
                    
               
                  </form>
                


				</div>
			  </div>
              
      
{% endblock %}